footer#colophon
  .limiter.container
    ul.contact.row.list-unstyled
      li.col-md-3
        h3.contact__title Address
        address.
          12345 Somewhere Road #654<br>
          Nashville, TN 00000-0000<br>
          USA
      
      li.col-md-3
        h3.contact__title Email
        a(href="mailto:user@untitled.tld") user@untitled.tld
      
      li.col-md-3
        h3.contact__title Phone
        span (000) 000-0000
      
      li.col-md-3
        h3.contact__title Social
        ul.contact__social.list-inline
          li.list-inline-item
            a(href="#")
              i.fab.fa-2x.fa-twitter
          li.list-inline-item
            a(href="#")
              i.fab.fa-2x.fa-facebook
          li.list-inline-item
            a(href="#")
              i.fab.fa-2x.fa-instagram
          li.list-inline-item
            a(href="#")
              i.fab.fa-2x.fa-linkedin
      