header#branding
  .limiter.container
    figure.logo
      img.img-fluid(src="https://booster.io/wp-content/uploads/gateways-currency-e1443808519595.png", alt="logo")
    
    nav.menu-options.row
      .col-md-3
        a.btn.btn-outline-secondary.active(href="#", title="USD to EUR") ⟶ Euro
      .col-md-3  
        a.btn.btn-outline-danger.disabled(href="#", title="Soon") ⟶ Yuan
      .col-md-3
        a.btn.btn-outline-primary.disabled(href="#", title="Soon") ⟶ Pound
      .col-md-3
        a.btn.btn-outline-success.disabled(href="#", title="Soon") ⟶ Yen
            